@mixin tablet {
      @media screen and (max-width: 768px) {
            @content;
            display: block;
            margin-left: auto; 
            margin-right: auto;
      }
}

@mixin mobile {
      @media screen and (max-width: 400px) {
            @content;
            display: block;
            margin-left: auto; 
            margin-right: auto;
      }
}